<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> -->
</head>
<body>
	<div id="app">
		<input type="text" v-model="message"/>
		<input type="checkbox" v-model="cls" :true-value="'success'" :false-value="'error'"/>
		<a :href="link" :title="message">{{ message }}</a>
		<div class="ui message" :class="cls"> 
			<!-- :class="{success: success, error: !success}" :style="style()"
				v-if="success" -->
			<i class="close icon" @click="close"></i>
			<p>{{ message }}</p>
		</div>
		<ul>
			<li v-for="person in persons">{{ person }}</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="app.js"></script>
</body>
</html>