<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
	<div id="app">
    <input type="text" v-model="myTodo.title" />
    <select v-model="myTodo.priority">
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select>
    <button @click="addElement()">add</button>
    <p>Priority low :</p>
    <ul>
      <!-- <li v-for="element in lowListe">{{ element }}</li> -->
      <Machin
        v-for="element in lowListe"
        :key="element.id"
        v-bind:myelement="element"
        v-on:delete_event="deleteElement($event)"
      ></Machin>
    </ul>
  
    <p>Priority middle :</p>
    <ul>
      <Machin
        v-for="element in middleListe"
        v-bind:myElement="element"
        v-on:delete_event="deleteElement($event)"
      ></Machin>
    </ul>
  
    <p>Priority high :</p>
    <ul>
      <Machin
        v-for="element in highListe"
        v-bind:myElement="element"
        v-on:delete_event="deleteElement($event)"
      ></Machin>
    </ul>
    <br />
    <br />
  </div>
</body>
</html>
